/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}
html,
body {
  // height: 100%;
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

p font {
  display: none;
}

label {
  font-weight: normal;
}

/* FORMS */
input[type='checkbox']:focus,
input[type='checkbox']:checked {
  background-color: var(--primary-500) !important;
}

input[type='color']:focus,
input[type='date']:focus,
input[type='datetime-local']:focus,
input[type='datetime']:focus,
input[type='email']:focus,
input[type='month']:focus,
input[type='number']:focus,
input[type='password']:focus,
input[type='radio']:focus,
input[type='search']:focus,
input[type='tel']:focus,
input[type='text']:focus,
input[type='textarea']:focus,
input[type='time']:focus,
input[type='url']:focus,
input[type='week']:focus,
select:focus,
textarea:focus {
  border-color: var(--primary-500) !important;
  box-shadow: 0 0 0 1px var(--gray-500) !important;
  outline: 2px solid transparent !important;
}

/* FORMS */
input[type='checkbox'] {
  background-color: var(--primary-100) !important;
}

input[type='color'],
input[type='date'],
input[type='datetime-local'],
input[type='datetime'],
input[type='email'],
input[type='month'],
input[type='number'],
input[type='password'],
input[type='radio'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='textarea'],
input[type='time'],
input[type='url'],
input[type='week'],
select,
textarea {
  background-color: var(--gray-100) !important;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  height: 4px;
  width: 4px;
}
*::-webkit-scrollbar-track {
  border-radius: 20px;
  background-color: #DFE9EB;
}

*::-webkit-scrollbar-track:hover {
  background-color: #B8C0C2;
}

*::-webkit-scrollbar-track:active {
  background-color: #B8C0C2;
}

*::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: #757575;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #A39999;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #A3A3A3;
}